---
title: Impressum
pageheader-image : none
sitemap: false
---
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow">

    <title>Impressum</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ site.baseurl }}/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ site.baseurl }}/css/clean-blog.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/legal.css" rel="stylesheet">

    <script src="{{ site.baseurl }}/vendor/jquery/jquery.min.js"></script>

    <script>
        $(function() {
            $('a[href^="mailto:"]').each(function() {
                this.href = this.href.replace('(at)', '@').replace(/\(dot\)/g, '.');
                // Remove this line if you don't want to set the email address as link text:
                this.innerHTML = this.href.replace('mailto:', '');
            });
        });
    </script>

</head>

<body>

<!-- Navigation -->
<div class="navbar-legal">
    {% include default/navigation.html %}
</div>

<!-- Page Header -->
<div class="pageheader-legal">
    {% include default/pageheader.html %}
</div>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2>&#x4B;&#x6F;&#x6E;&#x74;&#x61;&#x6B;&#x74;</h2>
                <p>&#x45;&#x2D;&#x4D;&#x61;&#x69;&#x6C;&#x3A;&#x20;<a class="btn-link" href="&#x73;&#x65;&#x63;&#x66;&#x30;&#x30;&#x74;&#x70;&#x72;&#x69;&#x6E;&#x74;&#x2B;&#x62;&#x6C;&#x6F;&#x67;@&#103;&#x6d;&#97;&#x69;&#108;.&#x63;&#111;&#109;">&#x73;&#x65;&#x63;&#x66;&#x30;&#x30;&#x74;&#x70;&#x72;&#x69;&#x6E;&#x74;&#x2B;&#x62;&#x6C;&#x6F;&#x67;@&#x67;&#x6d;&#97;&#x69;&#108;.&#x63;&#111;&#x6d;</a></p>
            </div>
        </div>
    </div>
</article>

<hr>

<!-- Footer -->
{% include default/footer.html %}

<!-- Bootstrap core JavaScript -->
<script src="{{ site.baseurl }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="{{ site.baseurl }}/js/clean-blog.min.js"></script>

</body>

</html>
